[client]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
port=3306
key_buffer_size=16M
max_allowed_packet=8M

# Slow query log
slow_query_log=ON
long_query_time=0
slow-query-log-file=/var/lib/mysql/mysql-slow.log

[mysqldump]
quick
